body {
    background: url("../images/doodles.png");
    background-position: center;
    background-attachment: fixed;
    max-width: 800px;
    margin: auto;
    color: darkslategrey;
}
#calc {
    background: rgba(255,255,255,.85);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(0,0,0,.2);
    padding: 5rem;
    margin-top: 10%;
}
form {
    display: inline;
}
h1 {
    color: rgba(0,200,255,1);
}
input {
    max-width: 100px;
}
.photoCredit {
    font-size: 8px;
}
#results {
    background: rgba(0,200,255,1);
    border-radius: 10px;
    padding: .5rem;
    color: white;
}
#tip {
    font-size: 1.2rem;
}